table {
    width: 100%;
  }
  
  .sd-tr{
    height: 80px;
  }

  .sd-th{
    background: #dee2e680;
  }

  .label-row{
    margin: 15px 15px 15px 0px;
    font-size: 20px;
  }

  .sd-filter{
    button{
        float: right;
    }
    
  }

  .mat-column-position{
    flex: 0 0 10%;
  }

  .mat-column-csv_file_name{
    flex: 0 0 35%;
  }

  .mat-column-createdAt{
    flex: 0 0 25%;
  }

  .mat-column-uploaded_by{
    flex: 0 0 15%;
  }

  .mat-column-status{
    flex: 0 0 15%;
  }