.pencil-edit-button-icon{
    background-image: url('../images/pencil-edit-button.png');
    background-size: contain;
    display: inline-block;
    height: 18px !important;
    width: 18px !important;
    background-repeat: no-repeat;
    cursor: pointer;
}

.cancel-icon{
    background-image: url('../images/cancel.png');
    background-size: contain;
    display: inline-block;
    height: 18px !important;
    width: 18px !important;
    background-repeat: no-repeat;
    cursor: pointer;
}

.user-profile-icon{
    background-image: url('../images/user-profile.png');
    background-size: contain;
    display: inline-block;
    height: 18px !important;
    width: 18px !important;
    background-repeat: no-repeat;
    cursor: pointer;
}