table {
    width: 100%;
  }
  .sd-tr{
    padding: 20px 15px;
    .mat-cell{
        text-align: left;
        letter-spacing: 0px;
        color: #3D415B;
        opacity: 1;
    }
    .sd-status-container{
        text-transform: capitalize;
        .status{
            margin-right: 15px;
        }
        .count{
            margin-left: 10px;
        }
    .sd-pending{
        display: inline-flex;
        background: #28a74530;
        color: #696A72;
        height: 23px;
        padding: 2px 10px;
        width: 90px;
        border-radius: 17px;
    }
    .sd-completed{
        display: inline-flex;
        background: #f48c3652;
        color: #696A72;
        height: 23px;
        padding: 2px 10px;
        width: 90px;
        border-radius: 17px;
    }
    .sd-file-missing{
        display: inline-flex;
        background: #F9F7AB;
        color: #696A72;
        height: 23px;
        padding: 2px 10px;
        width: 100px;
        border-radius: 17px;
    }
    
    }
   
  }

  .sd-th{
    background: #dee2e680;
    .mat-header-cell{
        color: rgb(0 0 0 / 31%);
        font-weight: normal;
        font-size: 14px;
    }
  }

  .label-row{
    margin: 15px 15px 15px 0px;
    font-size: 20px;
  }

  .sd-filter{
    button{
        float: right;
    }
    
  }

.modal-dialog{
    .modal-title{
        font-size: 18px;
        font-weight: bold;
    }
    .close{
        font-size: 43px;
        color: #0000006b;
        font-weight: 100;
        padding-top: 0;
    }

    // .upload-lebel-row{
    //     padding: 30px;
    //     border: dotted;
    //     margin: 0px 20px;
    //     text-align: center;
    //     .btn-info{
    //         font-size: 14px;
    //         background: #fff;
    //         color: #000;
    //         border: #fff;
    //     }
    // }

    .replace-modal-body{

    .upload-lebel-row{
        padding: 30px;
        border: dotted #343a406e;
        margin: 0px 20px;
        text-align: center;
        background: #dee2e680;
        .btn-info{
            font-size: 14px;
            color: #6c757d;
            background: #dee2e680;
            border: none;
        }
        .label-2{
            font-size: 10px;
            color: #6c757dad;
        }
    }

    .file-list-row{
        padding: 10px;
        border: solid #dee2e6;;
        margin: 20px 20px;
        max-height: 200px;
        overflow: scroll;
        .file-name-row{
            border: none;
            .file-name-col{
                font-size: 12px;
                text-align: left;
                padding: 5px;
              //  border-bottom: 1px solid #dee2e6;
                .sd-file-name-container{
                    .action{
                        .sd-remove-btn{
                            color: red;
                            cursor: pointer;
                        }
                    }
                   
                }
            }
           
        }
    }
}

    .footer-row{
        width: 100%;
        .add-btn{
            float: right;
        }
    }

    .file-name-row{
        border: 1px solid rgb(0 0 0 / 87%);
        .file-name{
            font-size: 10px;
            text-align: left;
            padding: 5px;
            border-bottom: 1px solid #6c757d;
        }
    }
   
}


.top-label-row{
    padding-bottom: 5px;
    .top-label{
    background: #fff;
    font-size: 18px;
    padding: 15px;
    span{
        float: right;
    } 
    }
    .submit-btn{
        float: right;
    }
   
}

.edit-input-filed{
    width: 80%;
    background: #dee2e680;
    border: none;
    height: 40px;
    font-size: 14px;
    padding: 10px;
    margin-top: 10px;
}

#editHistoryModal{
    .modal-body{
        height: 80vh;
        overflow-y: auto;
    }
}


.mat-column-position{
    flex: 0 0 10%;
  }

  .mat-column-name_of_agreement{
    flex: 0 0 25%;
  }

  .mat-column-file_name{
    flex: 0 0 20%;
  }

  .mat-column-type_of_agreement{
    flex: 0 0 10%;
  }

  .mat-column-status{
    flex: 0 0 15%;
  }

  .mat-column-action{
    flex: 0 0 20%;
  }

  .footer-action-row{
    float: right;
    margin-top: 10px;
  }

.sd-container{
    height: calc(100vh - 80px);
}

.footer-row{
    width: 100%;
    .add-btn{
        float: right;
        width: 90%;
    }
    .sd-btn-sec{
        width: 90%;
    }
}

.edit-form{
   .sd-label{
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize
   } 
}