.modal-dialog{
    .modal-title{
        font-size: 18px;
        font-weight: bold;
    }
    .close{
        font-size: 43px;
        color: #0000006b;
        font-weight: 100;
        padding-top: 0;
    }

    .upload-lebel-row{
        padding: 30px;
        border: dotted #343a406e;
        margin: 0px 20px;
        text-align: center;
        background: #dee2e680;
        .btn-info{
            font-size: 14px;
            color: #6c757d;
            background: #dee2e680;
            border: none;
        }
        .label-2{
            font-size: 10px;
            color: #6c757dad;
        }
    }

    .file-list-row{
        padding: 10px;
        border: solid #dee2e6;;
        margin: 20px 20px;
        max-height: 200px;
        overflow: scroll;
        .file-name-row{
            .file-name-col{
                font-size: 12px;
                text-align: left;
                padding: 5px;
                border-bottom: 1px solid #dee2e6;
                .sd-file-name-container{
                    .action{
                        .sd-remove-btn{
                            color: red;
                            cursor: pointer;
                        }
                    }
                   
                }
            }
           
        }
    }

    .footer-row{
        width: 100%;
        .add-btn{
            float: right;
            width: 90%;
        }
        .sd-btn-sec{
            width: 90%;
        }
    }
   
}