/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.sd-bg-color{
    background-color: #87CB67;
}

.sd-btn-primary {
    color: #fff;
    background-color: #87CB67;
    border-color: #87CB67;
    height: 50px;
}

.sd-btn-sec {
    color: #87CB67;
    background-color: #fff;
    border-color: #87CB67;
    height: 50px;
}

.sd-container{
    padding: 25px;
    background: #dee2e680;
}